<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.casediary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"></activity>
        <activity
            android:name=".Notification"
            android:label="Notify"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".SearchClient"
            android:label="Search Client"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".search"
            android:label="Search"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".DescriptionActivity"
            android:label="Laws"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".showcase" />
        <activity
            android:name=".add_case"
            android:label="Add Case"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".update_client" />
        <activity android:name=".show_client" />
        <activity
            android:name=".add_client"
            android:label="Add Client"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Signup_form"
            android:label="Sign Up"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".LawsActivity"
            android:label="Laws"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ManagecaseActivity"
            android:label="Manage Case"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ManageclientActivity"
            android:label="Manage Client"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>